.product {
  background-color: rgb(247, 244, 242);
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 0px 0px 5px, gray;
  margin: auto;
  width: 80%;
  height: 40rem;
  
  margin-top: 12vh;
  
}

.header {
  background-color: blue;
  color: white;
  height: 4rem;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
}

.description {
  display: grid;
  grid-template-columns: auto auto;
  margin: 30px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.description img {
    height: 30rem;
    
}

.text {
    text-align: center;
}

.text h1 {
    font-size: 2.5rem;
}

.text h5 {
    font-size: 1.5rem;
}

.text p {
    color: gray;
}

.btn {
    
    color: white;
    font-size: 1.5rem;
    padding: 7px;
    border: none;
    margin-right: 27px;
    cursor: pointer;
}

.edit {
    background-color: green;
}

.delete {
    background-color: red;
}

.close {
    background-color: blue;
}
