body {
    background-color: rgba(0, 0, 0, 0.4);
}


#add-popup {
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 25vh;
    z-index: 100;
    
    position: relative;
    background-color: white;
  }

  
  .heading {
    background-color: blue;
    color: white;
    height: 4rem;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
  }
  
  #add-popup label {
    font-size: 1.5rem;
    color: rgb(114, 111, 111);
    font-weight: 600;
    float: left;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  input {
    font-size: 1.5rem;
    width: 90%;
  }
  
  input:focus {
    background-color: rgb(239, 242, 245);
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding-bottom: 10px;
  }
  
  .add-btn {
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    padding: 7px;
    border: none;
    margin-right: 27px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background: transparent;
    color: blue;
    font-size: 1.5rem;
    margin-right: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
  }
  
  .add-btn:hover {
    background-color: orange;
  }
  
  .cancel-btn:hover {
    background-color: rgb(181, 218, 228);
  }
  